@import './breakpoints';

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;

  @include laptop {
    padding: 0;
    max-width: 90%;
  }

  @include desktop {
    max-width: var(--max-width);
    padding-right: 0;
    padding-left: 0;
  }
}
