.tours {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  grid-gap: var(--gap-small) var(--gap-medium-small);

  &__list {
    grid-row: 2;
  }

  &__title {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
  }

  &__cards {
    grid-row: 2;
    display: flex;
    gap: var(--gap-medium);
    overflow: scroll;
  }

  &__no_result {
    margin: 0 auto;
    font-size: 4.8rem;
    font-weight: 800;
    align-self: center;
    color: var(--border-color);
  }

  &__create_btn {
    grid-row: 2;
    grid-column: 2;
    width: 20rem;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: var(--border-color);

    color: var(--font-color-primary);
    text-transform: uppercase;

    transition: background-color var(--transition), color var(--transition);
    cursor: pointer;

    @include hover {
      background-color: var(--border-color-dark);
      color: var(--font-color-secondary);
    }

    & span {
      font-size: 4.8rem;
      font-weight: 600;
    }
  }
}