.trip_card {
  flex-shrink: 0;
  width: 20rem;
  cursor: pointer;
  transition: border-color var(--transition);

  &.active {
    cursor: default;
    pointer-events: none;

    & .trip_card__content {
      border-color: var(--color-violet-dark);
    }

    @include hover {
      & .trip_card__content {
        border-color: var(--color-violet-dark);
      }
    }
  }

  @include hover {
    & .trip_card__photo {
      transform: scale(1.2);
    }

    & .trip_card__content {
      border-color: var(--border-color-dark);
    }
  }

  &__photo_wrapper {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
  }

  &__photo {
    transition: transform var(--transition);
  }

  &__content {
    display: grid;
    grid-gap: var(--gap-medium);
    padding: 1rem;

    border: 1px solid #ccc;
    border-top: none;

    font-size: 1.6rem;
    transition: border-color var(--transition);
  }

  &__title {
    font-size: 2rem;
    transition: color var(--transition);
  }
}