.weather_card {
  width: 16rem;
  padding: 2rem 1rem;
  flex-shrink: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: var(--gap-small);

  border: 2px solid var(--font-color-secondary);
  border-radius: .8rem;
  background: linear-gradient(110deg, rgba(255, 255, 255, 0.5) -9%, rgba(255, 255, 255, 0) 114%);
  backdrop-filter: blur(50px);


  cursor: pointer;

  &__weekday {
    text-align: center;
    font-size: 1.4rem;

    & span {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  &__icon {
    & svg {
      width: 8rem;
    }

  }

  &__forecast {
    text-align: center;
    font-weight: 500;
  }

}